/*@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');*/
.color-0 {
  color: #ffffff;
}
.color-1 {
  color: #ff4444;
}
.color-2 {
  color: #99cc00;
}
.color-3 {
  color: #ffbb33;
}
.color-4 {
  color: #0099cc;
}
.color-5 {
  color: #33b5e5;
}
.color-6 {
  color: #aa66cc;
}
.color-8 {
  color: #cc0000;
}
.color-9 {
  color: #cc0068;
}
/*src: url("../BarlowCondensed.ttf");*/

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.no-grow {
  flex-grow: 0;
}

em {
  font-style: normal;
}

#app {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: transparent;
}

.chat-window {
  position: absolute;
  top: 2.5%;
  left: 40px;
  width: 38%;
  height: 530px;
  max-width: 550px;
  background-color: rgba(255, 255, 255, 0);
  animation-duration: 2s;
}

.chat-messages {
  padding-top: 5px;
  max-height: 140%;
  font-size: 1.4rem;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.chat-input {
  font-size: 1.65vh;
  position: absolute;
  top: 33.8%;
  left: 50px;
  width: 38%;
  max-width: 610px;
  box-sizing: border-box;
}

.prefix {
  font-size: 1.8vh;
  position: absolute;
  margin-top: 0.8%;
  margin-left: 1.5%;
  left: 0.208%;
}

textarea {
  font-size: 1.5vh;
  display: block;
  box-sizing: border-box;
  padding-top: 1.1%;
  padding-left: 5.4%;
  padding-bottom: 1.4%;
  padding-right: 1.6%;
  color: rgb(255, 255, 255);
  background-color: rgba(37, 37, 37, 0.8);
  width: 65%;
  border-left: 4px solid rgba(255, 145, 0, 0.9);
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 7px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none;
}

textarea:focus,
input:focus {
  outline: none;
}

.msg {
  margin-bottom: 5px;
}

.suggestions {
  list-style-type: none;
  padding: 5px;
  padding-left: 27px;
  font-size: 0.9rem;
  box-sizing: border-box;
  color: white;
  background-color: rgba(51, 51, 51, 0.5);
  border: 0px solid rgba(66, 66, 66, 0.9);
  border-radius: 0px 0px 5px 5px;
  width: 65%;
}

.help {
  margin-top: -10px;
  color: #b0bbbd;
}

.disabled {
  margin-top: -10px;
  color: #b0bbbd;
}

.suggestion {
  margin-bottom: 0.5px;
}

.chat-message, .chat-message2 {
  display: inline-block !important;
  padding: 0.6vw;
  padding-top: 0.6vw;
  padding-bottom: 0.7vw;
  margin: 0.1vw;
  margin-left: 0.4vw;
  border-radius: 10px;
  background-color: rgba(37, 37, 37, 0.9);
  width: fit-content;
  max-width: 100%;
  overflow: hidden;
  word-break: break-word;
}

.chat-message {
  border-left: 3px solid #ffa600;
  padding-top: 0 !important;
}

.chat-message2 {
  padding-top: 20px;
  position: relative;

  background-color: transparent;
  margin: -10px -8px;
  animation: unfold 300ms ease;
}

@keyframes unfold {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.label-msg {
  background-color: rgba(37, 37, 37, 0.9);
  border-left: 3px solid #ffa600;
  display: flex;
  border-radius: 10px;

  align-items: center;
  padding: 15px 10px 10px 10px;
}

.label-msg b {
  margin: 0 5px;
}

.label-msg-details {
  position: absolute;
  top: 10px;
}

.label-msg-type {
  background-color: rgba(37, 37, 37, 0.9);
  border: 2px solid #ffa600;

  font-size: 1vh;
  border-radius: 10px;
  margin: 0 3px;
  font-weight: bold;
  padding: 5px;

  border-bottom: none;
  border-top: none;

  white-space: nowrap;
}

.label-msg-txt {
  font-size: 1.6vh;
  font-weight: bold;
  color: #dcdcdc;
}

.chat-message-body {
  margin-top: 10px;
}

.advert, .advert {
  border-color: rgba(47, 92, 115, 0.8);
}

.warning .label-msg, .warning .label-msg-type {
  border-color: rgba(251, 255, 0, 0.8);
}

.normal .label-msg, .normal .label-msg-type {
  border-color: rgba(47, 114, 181, 0.9);
}

.error .label-msg, .error .label-msg-type {
  border-color: rgba(191, 36, 36, 0.9);
}

.system .label-msg, .system .label-msg-type {
  border-color: rgb(67, 57, 111);
}

.emergency .label-msg, .emergency .label-msg-type {
  border-color: rgba(224, 50, 50, 0.8);
}

.nonemergency .label-msg, .nonemergency .label-msg-type {
  border-color: rgba(112, 25, 25, 0.8);
}

.report .label-msg, .report .label-msg-type {
  border-color: rgba(86, 173, 10, 0.8);
}